/.settings
/bin
*/target/*
/logs
*/out/
*.iml
.project
.classpath
.idea/
.class
*.class
*.log
log.log .2020-06-22.0.gz
log.log .2020-06-23.0.gz
log.log .2020-06-22.0.gz
log.log .2020-06-22.0.gz
log.log .2020-06-22.0.gz
